body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #a8e063, #56ab2f);
}

.page{
  width:85%;
  margin:50px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

h1,h2{
  color:#2e7d32;
}

input{
  padding:10px;
  width:260px;
  margin:10px;
}

button{
  padding:10px 22px;
  margin:10px;
  background:#2e7d32;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:15px;
}

button.logout{
  background:#c62828;
}

.card{
  background:#f1f8e9;
  padding:15px;
  margin:15px auto;
  border-left:6px solid green;
  border-radius:8px;
  text-align:left;
  max-width:650px;
}
